body
{
overflow: hidden;
background-image: url(images/outlets.png);
background-repeat: repeat;	
font-family: Open Sans;
}



#HeaderBar
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 60px;	
background: gainsboro;	
background-image: url(images/tweed.png);
background-repeat: repeat;	
color: white;
text-align: center;
font-size: 24px;
letter-spacing: 2px;
font-family: Open Sans;

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;

text-shadow: 0.1em 0.1em 0.2em black;

}

#HeaderBar #Titling
{
position: absolute;
left: 0;
right: 0;
margin: auto;
top: 0;
bottom: 0;
height: 30px;
width: 100px;
text-align: block;
display: block;	
}

#FooterBar 
{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 3%;	
background: gainsboro;	
background-image: url(images/tweed.png);
background-repeat: repeat;	
color: white;
text-align: center;
font-size: 24px;
letter-spacing: 2px;
font-family: Open Sans;

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;

text-shadow: 0.1em 0.1em 0.2em black;	
z-index: 101;
	
}

#leftarrow
{
position:absolute;
left: 5px;
top: 0;
margin: auto;
bottom: 0;
font-family: Open Sans;
color: white;
font-size: 80%;
display: none;
cursor: pointer;
}

#rightarrow
{
position:absolute;
right: 5px;
top: 0;
margin: auto;
bottom: 0;
font-family: Open Sans;
color: white;
font-size: 80%;
display: none;
cursor: pointer;
}

#counterpage
{
left: 46%;
position: absolute;
width: 100px;
height: 90%;	
font-family: Open Sans;
color: white;
font-size: 50%;
top: 0;
}


.HeaderButton
{
position: relative;
margin-left: 16px;
margin-top: 10px;
float: left;
height: 40px;
width: 40px;
opacity: 0.5;
cursor: pointer;
}



.HeaderButton:hover
{
opacity: 1;	
}

.HeaderButton img
{
width: 100%;
height: 100%;	
}


.RightHeaderButton
{
position: relative;
margin-right: 16px;
margin-top: 10px;
float: right;
height: 40px;
width: 40px;
opacity: 0.5;
cursor: pointer;
display: none;
}


.DownloadButton
{
position: absolute;
display: block;
right: 80px;
top: 0;
bottom: 0;
color: white;
height: 40px;
width: 120px;
opacity: 0.5;
margin: auto;
cursor: pointer;
font-size: 12px;
}

.RightHeaderButton:hover
{
opacity: 1;	
}

.RightHeaderButton img
{
width: 100%;
height: 100%;	
}


#QueryBody
{
position: absolute;
top: 60px;
left: 0;
width: 100%;
height: 88%;
background:rgba(255,255,255,0.5);
overflow-y: auto;
}

#glass 
{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0,0,0,0.6);	
z-index: 100;
}

#glass_spinner
{
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
position: absolute;
width: 100px;
height: 100px;
color: green;	
}


#search_process_toolbar
{
height: 36px;
width: 100%;
position: relative;
background-image: url(images/tweed.png);	
}

#rss_process_toolbar
{
height: 36px;
width: 100%;
position: relative;
background-image: url(images/tweed.png);  
}


.search_process_button
{
position: relative;
margin-left: 8px;
float: left;
height: 30px;
width: 30px;
top: 3px;
opacity: 0.5;
cursor: pointer;
}


.search_process_button:hover
{
opacity: 1;	
}

.search_process_button img
{
width: 100%;
height: 100%;	
}

.search_process_info
{
position: relative;
width: 90%;
left: 5%;
height: 24px;
margin-bottom: 4px;	
margin-top: 4px;
background: black;
color: white;
opacity: 0.6;
}

.search_process_info:hover
{
opacity: 1;	
}

.search_process_title
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;	
cursor: pointer;
}

.active_process 
{
width: 19%;
position: absolute;
height: 24px;
left:80%;
top:0;	
}

#search_process_container
{
position:absolute;
top: 36px;
width: 100%;
height: 86%;
left: 0;	
}

#admin_search_process
{
position: absolute;
width: 23%;
height: 85%;
left:0.5%;
top: 10%;
/* background-image: url(images/tweed.png); 
background-repeat: repeat;	*/
background: grey;
z-index: 100;

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;		
}

#admin_rss_process
{
position: absolute;
width: 23%;
height: 85%;
left:0.5%;
top: 10%;
/* background-image: url(images/tweed.png); 
background-repeat: repeat;  */
background: grey;
z-index: 100;

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;		
}

#help
{
position: absolute;
width: 23%;
height: 85%;
right:0.5%;
top: 10%;
/* background-image: url(images/tweed.png); 
background-repeat: repeat;	*/
background: grey;
z-index: 100;

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;		
overflow: hidden;
}

#help #header
{
width: 100%;
height: 20px;
position: relative;
left: 0;
top:0;
background: black;
font-family:Open Sans;
color: rgba(255,255,255,0.6);	
letter-spacing: 3px;
font-size: 80%;
cursor: pointer;
}

#help #container
{
position: relative;
width: 100%;
height: 100%;
background-image: url(images/tweed.png);
background-repeat: repeat;	
color:white;
}

#search_process_form
{
position: absolute;
width: 50%;
height: 75%;
margin: auto;
left:0;
right: 0;
top: 15%;
background-image: url(images/tweed.png);
background-repeat: repeat;	
z-index: 100;

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;	
}

#search_process_form #header
{
width: 100%;
height: 20px;
position: relative;
left: 0;
top:0;
background: black;
font-family:Open Sans;
color: rgba(255,255,255,0.6);	
letter-spacing: 3px;
font-size: 80%;
cursor: pointer;
margin-bottom: 16px;
}

#search_process_form input
{
outline: none;
background: silver;
margin-left:10%;
width: 80%;
height: 40px;
font-family: Open Sans;	
font-size: 115%;
}

#search_process_form .small_input
{
position: relative;
outline: none;
background: silver;
margin-left:5%;
width: 27%;
height: 20px;
float: left;
font-family: Open Sans;	
font-size: 115%;
}

.small_legend
{
position: relative;
left: 5%;
width: 30%;
color: gainsboro;
float: left;
font-variant: small-caps;
font-family: Open Sans;
font-size: 12pt;
margin: 9px;	
}

.multi_container
{
margin-top: 5px;
margin-left:10%;
width: 80%;
height: auto;	
}

#language_option
{
outline: none;
margin-left:10%;
width: 20%;
height: 20px;
font-family: Open Sans;	
font-size: 115%;		
}

#language_option select
{
font-family: Open Sans;	
font-size: 12px;
background: black;
color: white;
outline: none;
height: 25px;	
}

#query_form
{
position: absolute;
width: 50%;
height: 50%;
margin: auto;
left:0;
right: 0;
top: 25%;
background-image: url(images/tweed.png);
background-repeat: repeat;	
z-index: 100;

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;
}


#query_form #header
{
width: 100%;
height: 20px;
position: relative;
left: 0;
top:0;
background: black;
font-family:Open Sans;
color: rgba(255,255,255,0.6);	
letter-spacing: 3px;
font-size: 80%;
cursor: pointer;
margin-bottom: 16px;
}


#query_form input
{
outline: none;
background: silver;
margin-left:10%;
width: 80%;
height: 40px;
font-family: Open Sans;	
font-size: 115%;
}

#query_form  .radioButton
{
width: 16px;
height: 16px;

}

#query_form  form
{
color: gainsboro;	
}

#query_form  p
{
margin-left: 80px;
}

#query_form  .radioButton image
{
width: 16px;	
height: 16px;
}

.submit_button
{
position: absolute;
margin: auto;
left: 0;
right: 0;
background: black;
width: 30%;
height: 40px;
bottom: 8px;
font-family: Open Sans;	

-o-box-shadow:       0 2px 6px #000000;
-moz-box-shadow:     0 2px 6px #000000;
-webkit-box-shadow:  0 2px 6px #000000;
 box-shadow:         0 2px 6px #000000;
 
 color: darkgray;
 text-align: center;
 letter-spacing: 7px;
 font-size: 120%;
 
 cursor:pointer;
text-shadow: 0.1em 0.1em 0.2em gray;
}


.submit_button:hover
{
-o-box-shadow:       0 2px 9px #000000;
-moz-box-shadow:     0 2px 9px #000000;
-webkit-box-shadow:  0 2px 9px #000000;
 box-shadow:         0 2px 9px #000000;
 
 color: white;	
}



.legend
{
position: relative;
left: 10%;
width: 90%;
color: gainsboro;
font-variant: small-caps;
font-family: Open Sans;
font-size: 12pt;
margin: 9px;
}
